<% content_for :subtitle, 'ログイン' %>
<% if flash[:notice] %>
<div class="notice">
  <%= flash[:notice] %>
</div>
<% end %>
<%= form_tag :auth, method: :post, "data-ajax" => false do %>
<div data-role="fieldcontain">
  <%= label_tag :email, "メールアドレス" %>
  <%= email_field_tag :email, params[:email], id: :email %>
  <%= label_tag :password, "パスワード" %>
  <%= password_field_tag :password, nil, id: :password %>
</div>
<%= submit_tag "ログイン", "data-theme" => "b" %>
<% end %>
