<!DOCTYPE html>
<html>
  <head>
    <% if content_for? :subtitle %>
    <title><%= yield :subtitle %> - ちなみびゅあ</title>
    <% else %>
    <title>ちなみびゅあ</title>
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="<%= asset_path 'favicon.ico' %>" />
    <link rel="apple-touch-icon" href="<%= asset_path 'apple-touch-icon.png' %>" />
  </head>
  <body>
    <div data-role="page" id="<%= params[:action] %>">
      <div data-role="header" data-theme="b">
        <%= link_to "ホーム", :index, class: "ui-btn-left" %>
        <% if content_for? :subtitle %>
        <h1><%= yield :subtitle %></h1>
        <% else %>
        <h1>ちなみびゅあ</h1>
        <% end %>
        <% unless params[:action] == "auth" %>
        <% if authenticated? %>
        <%= link_to "ログアウト", :logout, class: "ui-btn-right" %>
        <% else %>
        <%= link_to "ログイン", :login, class: "ui-btn-right" %>
        <% end %>
        <% end %>
      </div>
      <div data-role="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
